<h1>Admins#index</h1>
<p>Find me in app/views/admins/index.html.erb</p>

<div><a href="#"> Admin </a></div>
<div><a href="#"> Profile </a></div>
<br>
<div><a href="#"> Beds </a></div>
<div><a href="#"> Residents </a></div>
<div><a href="#"> Meals </a></div>



