<h1>Beds Dashboard</h1>

<h1>Buildings</h1>


<h2>Loomis</h2>
<h5>50% Occupancy</h5>
<h5>Men's Only</h5>

<div>
<ul>North Dorm</ul>
<p>10 bunk beds, 20 beds total</p>
  <li>6 top beds available</li>
  <li>4 bottom beds available</li>
</div>

<div>
<ul>South Dorm</ul>
<p>10 bunk beds, 20 beds total</p>
  <li>6 top beds available</li>
  <li>4 bottom beds available</li>
</div>


<h2>Casa Del Sol</h2>
<h5>30% Occupancy</h5>
<div>
<h3>First Floor 2 Units</h3>
<p>2 bunk beds</p>
<p>4 beds total</p>
</div>
<div>
<h3>Second Floor 8 Units</h3>
<p>8 bunk beds</p>
<p>16 beds total</p>
</div>
<div>
<h3>Third Floor 1 Units</h3>
<p>1 bunk beds</p>
<p>2 beds total</p>
</div>




